/.ipynb_checkpoints/
/.idea/
/Images/
/Testing/.ipynb_checkpoints/
/Testing/Untitled.ipynb
/Thumbs.db
/Examples/Introduction.ipynb
/Testing/*.ipynb
/TestData/Test1.mpr
/TestData/Test2.mpr
/TestData/Test3.txt
/.vscode/
/plots/
